<div style="margin: 20px;">
    <input type="text" (keydown.enter)="$event.preventDefault()" placeholder="Search Location" autocorrect="off" autocapitalize="off" spellcheck="off" #search class="searchBox">
</div>
<div *ngFor="let p of allPlaces" class="m-b-10">
    <div class="chip">
        <div>
            {{p.formatted_address}}<span class="closebtn" (click)="removeAdd(p.formatted_address)">x</span>
        </div>
    </div>
</div>
<button mat-button (click)="onSave()">Save</button>

<div style="margin: 0 30px;">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [fitBounds]="bounds">
        <agm-marker *ngFor="let m of markers" [latitude]="m.latitude" [longitude]="m.longitude" [markerDraggable]="false" [agmFitBounds]="true">
        </agm-marker>
        <!-- Adds single marker -->
        <!-- <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="false">
        </agm-marker> -->
    </agm-map>
</div>